11_Ubung/Projektmappe/WebApplication1/WebApplication1/Connected Services/ServiceReference1/BmiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="bmi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bmiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bmiResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="bmiSoapIn">
    <wsdl:part name="parameters" element="tns:bmi" />
  </wsdl:message>
  <wsdl:message name="bmiSoapOut">
    <wsdl:part name="parameters" element="tns:bmiResponse" />
  </wsdl:message>
  <wsdl:portType name="BmiServiceSoap">
    <wsdl:operation name="bmi">
      <wsdl:input message="tns:bmiSoapIn" />
      <wsdl:output message="tns:bmiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BmiServiceSoap" type="tns:BmiServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bmi">
      <soap:operation soapAction="http://tempuri.org/bmi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BmiServiceSoap12" type="tns:BmiServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bmi">
      <soap12:operation soapAction="http://tempuri.org/bmi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BmiService">
    <wsdl:port name="BmiServiceSoap" binding="tns:BmiServiceSoap">
      <soap:address location="https://localhost:44378/BmiService.asmx" />
    </wsdl:port>
    <wsdl:port name="BmiServiceSoap12" binding="tns:BmiServiceSoap12">
      <soap12:address location="https://localhost:44378/BmiService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>